/*COLORS FOR THE WEBSITE
165, 196, 212
132, 153, 177
123, 109, 141
89, 63, 98
73, 59, 42
*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/*FONTS*/

@font-face{
  font-family:"Roboto";
  src: url("fonts/Roboto-Light-webfont.woff") format("woff");
  font-weight:300;
  font-style:normal;
}
@font-face{
  font-family:"Roboto";
  src: url("fonts/Roboto-LightItalic-webfont.woff") format("woff");
  font-weight:300;
  font-style:italic;
}
@font-face{
  font-family:"Roboto";
  src:url("fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight:400;
  font-style:normal;
}
@font-face{
  font-family:"Roboto";
  src:url("fonts/Roboto-Italic-webfont.woff") format("woff");
  font-weight:400;
  font-style:italic;
}

body{
  font-family:"Roboto";
  font-weight:300;
  font-style:normal;
}
em{
  font-family: "Roboto";
  font-weight:300;
  font-style:italic;
}
strong{
  font-family: "Roboto";
  font-weight:400;
  font-style:normal;
}
em strong{
  font-family:"Roboto";
  font-weight:400;
  font-style:italic;
}

/*IMAGES*/

img{
  width:300px;
}

/*NAVIGATION AND FOOTER BAR*/
 
nav, footer{
  background-color: rgba(132, 153, 177);
  padding-bottom:25px;
  padding-top:25px;
  padding-left:1em;
  padding-right:1em;
  margin:0px;
  width:100%;
}

nav .name{
  float:left;
}

nav ul{
  float:right;
}

nav ul li{
  display: inline-block;
  padding-left:20px;
}

/*CONTENT SECTION*/

article{
  background-color: rgba(165, 196, 212);
  text-align:center;
}



