{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}

<div class="content">
<div class="into">
  <h3>Hi! My name is {{ name }}.</h3>
  <h3>I am a Chemistry Honours student at <a href = "https://www.mun.ca/">MUN</a>, 
    currently a member of <a href="https://gbodwell.wordpress.com/research/">Dr. 
  Graham Bodwell's</a> research group. Below are a few facts about me :)
 </h3>
</div>

<img src = "{{ url_for('static', filename = 'profile-pic-small.png') }}" \>

<h3>I am good at my studies</h3>
<ul>
  <li>GPA: 3.96 out of 4.00</li>
  <li>Donald and Evelyn Barton Chemistry Scholarship 2020-21</li>
  <li>Faculty of Science Dean List 2019-20</li>
  <li>September 11, 2001 International Scholarship 2019-20</li>
</ul>
<hr>

<h3>I have worked in lots of research labs!</h3>
<ul>
  <li>SURA with Dr. Graham Bodwell (Summer 2021)</li>
  <li>ISWEP with Dr. Yuming Zhao (Fall 2021)</li>
  <li>ISWEP and SURA with Dr. Erika Merschrod (Fall - Summer 2020)</li>
  <li>Volunteering position with Dr. Michael Katz</li>
</ul>
<hr>

<h3>I have teaching experience</h3>
<ul>
  <li>TA for CHEM 1010 labs, both on campus and online 2020-21</li>
  <li>Tutor and Tech Support at MUN Language Center 2019</li>
  <li>English language tutor at SKYENG 2018</li>
</ul>
<hr>


<h3>
  I am an open-minded, enthusiastic individual, 
  who loves personal growth, and problem solving.
   Got a job for me? Feel free to shoot me an <a href = "templates/contacts.html">email</a>, 
   or a message. Talk to you soon!
</h3>
</div>
{% endblock %}