<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width> initial-scale=1.0">
  <title>Mila</title>
  <link rel="stylesheet"  href="{{ url_for('static', filename = 'styles.css') }}" >
</head>

<body>
<div class = "page">
<!--NAVIGATION-->

  <div class = "nav nav-contacts">
    <div><img src = "{{ url_for('static', filename = 'left-arrow.png') }}"></div>
    <div><a class = "back-link" href = "/">Go back</a></div>
  </div>


<div class = "section contacts">

  <div>
  <form
  action="{{api}}"
  method="POST"> 
  <label>Your email:</label>
  <input type="email" name="_replyto" placeholder="youremail@mail.com">
  </div>

  <div class = "form-message">
    <label>Your message:</label>
    <textarea name="message" placeholder="Write your message here." rows=6 cols=12></textarea>
  </div>

  <button type="submit">Send</button>
  </form>

</div>

<div class="footer">
  <div><a href = "https://www.facebook.com/girlluyda/" target = "_blank"><img src = "{{ url_for('static', filename = 'facebook.png') }}"></a></div>
  <div><a href = "https://github.com/lsyurievna" target = "_blank"><img src = "{{ url_for('static', filename = 'github.png') }}"></a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>


</div>

</body>