{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}

<div class="CV-block"> 
  <p class="CV-place">MEMORIAL UNIVERSITY OF NEWFOUNDLAND</p>
  <hr class="CV-hr">
  <p class="CV-position">Summer Research position with Dr. Bodwell (SURA grant) - Summer 2021</p>
  <hr class="CV-hr">
  <p class="CV-description">
    I have a full-time research position in an organic synthesis lab. 
    My daily routine consists of running reactions, and chromatography columns, NMR experiments,
    and sometimes MS and IR experiments, as well as a looot of troubleshooting and reading.
   My project for this summer is mastering the synthesis of
    recently reported 1,1,9,9-Tetramethyl[9](2,11)teropyrenophane, which is a super cool molecule you can read more about <a href="https://pubmed.ncbi.nlm.nih.gov/29272562/">here</a>. 
    For my upcoming Honours project, I will be working on functionalizing the abovementioned molecule.
  </p>
</div>

<div class="CV-block"> 
  <p class="CV-place">MEMORIAL UNIVERSITY OF NEWFOUNDLAND</p>
  <hr class="CV-hr">
  <p class="CV-position">Literature Search position with Dr. Zhao - Fall 2020</p>
  <hr class="CV-hr">
  <p class="CV-description">Literature search on detection methods 
    for phenols for potential cannabinoids' sensor development. 
  </p>
</div>

<div class="CV-block"> 
  <p class="CV-place">MEMORIAL UNIVERSITY OF NEWFOUNDLAND</p>
  <hr class="CV-hr">
  <p class="CV-position">Teaching Assistant</p>
  <hr class="CV-hr">
  <p class="CV-description">Presenting lab techniques to first-year chemistry students, 
    answering questions(my most favourite part!), grading reports. Overall, 
    assisting with successful completion of labs.
  </p>
</div>

<div class="CV-block"> 
  <p class="CV-place">MEMORIAL UNIVERSITY OF NEWFOUNDLAND</p>
  <hr class="CV-hr">
  <p class="CV-position">Summer Researh position (SURA grant) with Dr. Erika Merschrod</p>
  <hr class="CV-hr">
  <p class="CV-description">Writing scripts in Python 
    and ImageJ macro language to analyze SEM pictures of Cobalt Ferrite nanoparticles. 
  </p>
</div>

<div class="CV-block"> 
  <p class="CV-place">MEMORIAL UNIVERSITY OF NEWFOUNDLAND</p>
  <hr class="CV-hr">
  <p class="CV-position">Researh assistant with Dr. Erika Merschrod</p>
  <hr class="CV-hr">
  <p class="CV-description">
    Synthesis of Cobalt Ferrite nanoparticles (NP) used to create SERS substrates. 
    Characterization of the NPs with Raman spectroscopy, and Scanning Electron Microscopy (SEM).
  </p>
</div>

{% endblock %}