<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} | {{name}} </title>
  <link rel="stylesheet"  href="{{ url_for('static', filename='styles.css') }}" >
</head>

<body>
  <nav>
    <ul>
      <a href = "/"><li>about</li></a>
      <a href = "/CV"><li>CV</li></a>
      <a href = "/blog_listing"><li>blog</li></a>
      <a href = "/contacts"><li>contacts</li></a>
    </ul>
  </nav>

  <article>
  {% block content %}
  
  {% endblock %}
  </article>

  <footer>
    
  </footer>
  

</body>
</html>
 